html, body {
  min-width: 700px; /* Adjust this value based on your design needs */
  overflow-x: auto; /* Ensures horizontal scrolling instead of breaking the layout */
}

.dashboard {
  display: flex;
  height: 85vh;
  min-width: 700px; /* Adjust this value based on your layout needs */
  margin: auto;
  border: 1px solid white;
  background: rgba(6, 54, 56, 0.6);
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

/* Left Panel */
.left-panel {
  width: 50%;
  color: white;
  backdrop-filter: blur(12px);
  padding: 15px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

/* Right Panel */
.right-panel {
  width: 100%;
  padding: 25px;
  background: rgb(210, 237, 233,0.4);
  border-radius: 0 12px 12px 0;
  display: flex;
  flex-direction: column;
}

/* Button Styling */
db-button {
  display: block;
  width: 100%;
  padding: 12px;
  margin-bottom: 8px;
  background: linear-gradient(135deg, #064238, #037971);
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s ease;
  font-weight: bold;
}

   /* Style for the overall user list */
.userlist {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Style each list item */
.userlist-item {
  padding: 10px 15px;
  margin: 5px 0;
  background-color: transparent;  
  display: flex;
  align-items: center;
  cursor: pointer;    
  transition: background-color 0.2s ease; /* Smooth background transition */
  font-size: 16px;                /* Adjust the font size */
  border-bottom: 1px solid #e0e0e0;  /* Border line like WhatsApp */
}

/* Hover effect when user hovers over a list item */
.userlist-item:hover {
  background-color: #0b6158;    /* Subtle hover effect */
}

/* Style for the selected user item */
.userlist-item.selected {
  background-color: #0b6158;   /* Light blue background when selected */
  color: #eceded;               /* Darker color for selected user */
}


button:hover {
  background: linear-gradient(135deg, #037971, #064238);
  transform: scale(1.05);
  box-shadow: 0 4px 10px rgba(6, 54, 56, 0.2);
}
.select{
  color: rgba(6, 54, 56, 0.6);
}
/* Chat Box */
.chat {
  width: 100%;
  border: 1px solid rgba(6, 54, 56, 0.2);
  padding: 20px;
  border-radius: 8px;
  background: rgba(6, 54, 56, 0.05);
  box-shadow: 0 2px 8px rgba(6, 54, 56, 0.1);
}

.time-style{
  font-size: xx-small;
}


h1 {
  color: #ffffff;
  margin-bottom: 15px;
  margin-left: 10px;
}

h3 {
  font-size: 1 rem;
  color: #fcfcfc;
  margin-bottom: 15px;
  margin-left: 10px;
}

